.features {
  .feature-grid {
    display: grid;
    gap: 7vw 10vw;
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20;
    padding-right: 20;

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
      gap: 6vw 7vw;
      padding-left: 60;
      padding-right: 60;
    }
  }
  .feature {
    text-align: center;

    img {
      height: 100%;
      width: auto;
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      margin-bottom: 40px;
    }

    &-title {
      font-family: $font-title;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 16px;
      margin-top: 30px;
    }

    &-description {
      font-size: 1rem;
    }
  }
}
