.productive {
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
    max-width: 600px;
    margin: 0 auto;

    @include breakpoint(large) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1320px;
    }
  }

  &-image {
    text-align: center;

    img {
      width: 100%;
      max-width: 615px;
    }
  }

  &-text {
    h2 {
      @include breakpoint(large) {
        max-width: 400px;
      }
    }
    a {
      background-image: url("/images/icon-arrow.svg");
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 25px;
      color: #64e1d9;
      border-bottom: 1px solid #64e1d9;
      transition: all 200ms case-in-out;

      &:hover {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}
